
.form-check-row-height {
    height: 24px
}

.form-check-no-marginB {
    margin-bottom: 0 !important
}

.form-check-with-marginB {
    margin-bottom: 24px !important
}

.text-danger {
    color: red;
    font-weight: 700
}

.break {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 0
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.list-box-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: sans-serif;
    width: 100%
}

.list-box-wrapper>div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.list-box-wrapper .list-box-item {
    border: 1px solid #ccc;
    border-radius: 3px
}

.list-box-wrapper .list-box-item .search-box {
    border-bottom: 1px solid #ccc;
    position: relative
}

.list-box-wrapper .list-box-item .search-box input {
    border: none;
    padding: .5rem 1rem;
    width: 100%
}

.list-box-wrapper .list-box-item .search-box .clear-search {
    color: #e74c3c;
    cursor: pointer;
    font-weight: 700;
    padding: .5rem;
    position: absolute;
    right: 0;
    top: 0
}

.list-box-wrapper .list-box-item .list-box {
    height: 250px;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0
}

.list-box-wrapper .list-box-item .list-box .list-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: .5rem 1rem
}

.list-box-wrapper .list-box-item .list-box .list-item.active {
    background-color: #eee
}

.list-box-wrapper .list-box-item .bulk-action {
    border-top: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center
}

.list-box-wrapper .list-box-item .bulk-action .select-all {
    background-color: #007bff;
    color: #fff;
    padding: .8rem;
    width: 100%
}

.list-box-wrapper .list-box-item .bulk-action .deselect-all {
    background-color: #6c757d;
    color: #fff;
    padding: .8rem;
    width: 100%
}

.list-box-wrapper .actions {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 0 1rem
}

.list-box-wrapper .actions .btn-action {
    margin-bottom: .5rem
}

.btn-action {
    background-color: transparent;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: .25rem;
    color: #212529;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}

.btn-action,
.btn-action svg {
    vertical-align: middle
}

.b-form-btn-label-control .form-control {
    border: none !important
}

.cursor-pointer {
    cursor: -webkit-grab;
    cursor: grab
}

@media screen and (max-width:768px) {
    .tableNo {
        width: 45px
    }

    .modal-row .modal-label,
    .modal-row .modal-value {
        font-size: 1.25rem
    }

    .modal-row .modal-label {
        font-weight: 700
    }
}

.nav-tabs .nav-link {
    background: #fff;
    border: 0;
    color: #000;
    font-size: 19px;
    letter-spacing: .125rem;
    line-height: 28px;
    opacity: .45;
    padding: .6rem;
    width: 50%
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background: #1aa4b7
}

.description-wrapper,
.feature-wrapper {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem
}

.description-wrapper .desc-block,
.feature-wrapper .desc-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: flex-start
}

.bg-spec {
    background-color: #3e8acc
}

.feature-btn {
    font-size: 1rem
}

@media screen and (max-width:768px) {

    .feature-btn,
    .font-size-spec {
        font-size: 1rem
    }
}

#nav-tab {
    border-bottom: none
}
