<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:config>
        <aop:pointcut id="servicePointcut" expression="execution(* tw.gov.pcc.eip..services..*.*(..)) || execution(* tw.gov.pcc.common.services..*.*(..))" />
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="servicePointcut" />
    </aop:config>

    <!-- Service 類別請： -->
    <!--   1. 於實作類別標示 @Service -->
    <!-- 不需再於此檔進行設定 -->

</beans>
